<!-- Search form -->
<select [(ngModel)]="category" (change)="setsearchCategory()">
    <option value="All" >All</option>
    <option *ngFor="let key of tobesearched" [value]="key">{{key}}</option>
  </select>
<input [(ngModel)]="keysearch" placeholder="Search.." (change)="searching()"/>

<div *ngFor="let pokemon of pokemons">
  <div class="gallery">
     
        <a target="_blank" href="https://cdn.vox-cdn.com/thumbor/3ajecDMOIH59cbOeyO0bap_4wj4=/0x0:2257x1320/1200x800/filters:focal(949x480:1309x840)/cdn.vox-cdn.com/uploads/chorus_image/image/63738986/pokemon.0.0.png" alt="Cinque Terre" width="600" height="400">
          <img src="https://cdn.vox-cdn.com/thumbor/3ajecDMOIH59cbOeyO0bap_4wj4=/0x0:2257x1320/1200x800/filters:focal(949x480:1309x840)/cdn.vox-cdn.com/uploads/chorus_image/image/63738986/pokemon.0.0.png" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc"><strong>Name </strong> {{pokemon.Name}}
           <strong>Generation: </strong>  {{pokemon.Generation}} :<br>
            {{pokemon.About}}</div>
        </div>
</div>
